# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
backend/.venv/
venv/
.env
.env.*

# Django
*.log
*.sqlite3
staticfiles/

# Node / Vue
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
